*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}
nav{
  width: calc(100% - 20px);
  margin: 10px auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
nav ul{
  width: 50%;
  display: flex;
}
nav ul li a{
  display: block;
  padding: 15px;
  color: #444;
  transition: all .3s;
}
nav ul li a:hover{
  color: #df2029;
}
nav ul.social{
  justify-content: flex-end;
}
.nav-toggle{
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: none;
}
.container{
  width: 70%;
  margin: 0 auto;
}
.nav-container{
  display: flex;
  flex-wrap: wrap;
}
section{
  width: 100%;
}






@media (max-width:680px) {
  nav ul{
    width: 100%;
  }
  nav ul.menu{
    display: none;
  }
  .container{
    width: 100%;
  }
  .nav-toggle{
    display: block;
  }
}
